body{
  background-image:url(https://source.unsplash.com/category/nature/1600x900);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  
  .input {
    color:white;
    width: inherit;
    font-size: 3rem;
    text-align: center;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #ffffff;
  }
  
  input,
  textarea {
    background: 0;
  }
  
  .input--todo {
    width: 70%;
    font-size: 2rem;
    text-align: center;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
  }
  
  ::placeholder {
    color: #ffffff;
  }
  
  .button {
    all: unset;
    cursor: pointer;
    background-color: black;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .button:active,
  .button--del:active,
  .button--check:active {
    transform: scale(0.9);
  }
  
  .button--todo {
    background-color: black;
    color: white;
    width: 120px;
    font-size: 2rem;
    opacity: 0.7;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 첫 번째 화면 */
  
  .whats-your-name__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: fadeIn 1.5s linear forwards;
  }
  
  .icon {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    position: fixed;
    top: 20px;
  }
  
  .whats-your-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .whats-your-name__text {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  /* Disappears */
  .whats-your-name__container.disappear {
    display: none;
  }
  
  .greeting__container.disappear {
    display: none;
  }

  
  .todo__container.disappear {
    display: none;
  }
  /* 두 번째 화면 */
  
  .greeting__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 70px;
    animation: fadeIn 1.5s linear forwards;
  }
  
  .weather {    
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    padding :10px 20px;
  }
  
  .greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .time {
    font-size: 14rem;
  }
  
  .greeting__greet-and-name {
    margin-bottom: 50px;
  }
  
  .greet,
  .name,
  .sir {
    color:wheat;
    font-size: 3rem;
  }
  
  .sir {
    margin-left: 10px;
  }
    
  .input--checkbox {
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-right: 5px;
  }
  

  :checked {
    transform: scale(0.98);
  }
  
  /* 세 번째 화면 with To Do List */
  .todo__container {
    
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .form--todo {
    width: 150%;
    margin-bottom: 30px;
  }
  .button--del,
  .button--check {
    all: unset;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.7;
    background-color: none;
  }
  
  .button--check {
    margin-right: 5px;
  }
  
  li {
    color: white;
    display: flex;
    text-align:center;
    font-size: 2rem;
  }
  